/*  Collors вторичний #212121 */
/*  Collors основний #757575 */
/*  Акцент #2196F3; */
/* Button-active */
/* --bacground-team F5F4FA */

 :root{
--primary-text-color: #757575;
--title-text-color: #212121;
--accent-color: #2196F3;
--color-logotip: #000000;
--background: #FFFFFF;
--footer-color: #2F303A;
--background-color: #F5F4FA;
--color-address:rgba(255, 255, 255, 0.6);
--button-active:#188CE8;
--badground-team: #F5F4FA;
--border: #EEEEEE;
--color-icon: #F6F5FB;
--color-seti:#AFB1B8;
--color-backdrop: rgba(0, 0, 0, 0.2);
--color-modal: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
--color-border-input: rgba(255, 255, 255, 0.3);
}  
/* Свойства для корректного отображения картинок */

img {
    display: block;
    max-width: 100%;
    height: auto;
}

html{
    box-sizing: border-box; /* pading+border+content Точні розміри */
}

*,
*::before,
*::after{
    box-sizing: inherit;
}

body
{
   background-color: #FFFFFF;
   color: var(--primary-text-color);
   font-family: Roboto, sans-serif;   
}

/* Стили для обнуления верхних отступов у элементов */
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0px;    
}

/* Класс для обнуления базовых свойств у списков (ul) */
.list{
    list-style: none;
    padding: 0px;
    margin: 0px;
}   

    /*  text-decoration: none; */
.logo, .link, .works,
.logo__foot, .contact
{
    text-decoration: none;
} 

                 /*  Header  */

.header {
    align-items: center;
    justify-content: space-between;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-right: 15px;
    border-bottom: 1px solid #ECECEC;
}

.header__flex {
    display: flex;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: auto;
    align-items: normal;
    justify-items: flex-end;
}

.container{ 
    margin-left: auto;
    margin-right: auto;   
    padding-left: 15px;
    padding-right: 15px;
    width: 1200px;

}

.header__navs{
    display: flex;
    align-items: center;
    color: var(--accent-color);
    margin-bottom: 0px;
    margin-top: 0px;
    padding-top: 0px;
    padding-bottom: 0px;    
}

.logo{
    /* color: var(--color-logotip); */
    color: var(--accent-color);
    font-weight: 700;
    font-size: 26px;
    font-family: Raleway, sans-serif;
    line-height: 1.19;
    text-decoration: none;
    text-align: center;
    letter-spacing: 0.03em;
    margin-right: 93px;
}

.logo--black{
    color: var(--color-logotip);  
    font-weight: 700;
        font-size: 26px;
        font-family: Raleway, sans-serif;
        line-height: 1.19;
        text-decoration: none;
        text-align: center;
        letter-spacing: 0.03em;
}

.header__menu{
    display: flex;
    align-items: center;
    transition: transform 250ms cubic-bezier(0.4, 0.0, 0.2, 1.0);
    gap: 50px;
}

.header__link {
    display: block;
    color: var(--title-text-color);
    padding-top: 32px;
    padding-bottom: 32px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    font-size: 14px;
}

.header__link:hover, 
.header__link:focus
{
    color: var(--accent-color);    
}
.header__link--current{
    position: relative;
    color: var(--accent-color);    
}

.header__link--current::after {
    display: inline-block;
    content: "";
    position: absolute;
    display: flex;
    bottom: 0; 
    left: 0;

    width: 100%;
    height: 4px;      

    background-color: var(--accent-color);
    border-radius: 2px;
}

.contact{
    display: flex;
    align-items: center;
    margin-left: auto;
    gap: 30px;
}

.contact__link{
    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;   
    transition:color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact__link:hover,
.contact__link:focus{
    color: var(--accent-color);
}


.contact__icon{
    fill: currentColor;  
    margin-right: 10px;  
    display: inline-flex;    
    content: "";
    width: 16px;
    height: 12px;
    padding: 0px;
    background-position: cover;
    
}



                        /* Hero */

.hero{
    background-color:var(--footer-color) ;         
    background-repeat: no-repeat;  
    background-position: center; 
    background-size: cover;    
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)),
        url('../images/iImg-overlay.jpg');
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px; 
    padding-top: 200px;
    padding-bottom: 200px;    
}

.hero__title{
    color:var(--background);   
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;   
    letter-spacing: 0.06em;
    
    
    text-transform: uppercase;   
    margin-top: 0px; 
    margin-bottom: 0px;
    max-width: 696px;
    margin-left: auto;
    margin-right: auto;
}

    /* Button */
.button{
    background-color: var(--background-color);
    color: var(--title-text-color);
    font-family: inherit;
    border: 1px solid transparent;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    text-align: center;
    letter-spacing: 0.03em;
    cursor: pointer;
    display: inline-block;
    padding-top: 0px;
    padding-bottom: 0px;
}  
.button:hover,
.button:focus {
    background-color: var(--accent-color);
    color: var(--background);
    border: 1px solid transparent;
    border-radius: 4px;
}

.hero__button {
    background-color:var(--accent-color) ;
    color:var(--background); 
    font-family: inherit;
    margin-top: 40px;    
   
    min-width: 216px;   
    height: 50px;
    padding: 10px 32px;
    text-align: center;
    border: 1px solid transparent;
}

.hero__button:focus,
.hero__button:hover{
    background-color: var(--button-active) ;
    color: var(--background);
    font-family: inherit;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));    
}


            /* < !-- Переваги --> */
.benefits{
    display: flex;   
    gap: 30px;  
    padding-top: 94px;
        /* padding-bottom: 94px; */
}

.benefits__icon{
    background-color: var(--background-color); 
    width: 270px;
    height: 120px;  
    margin-bottom: 30px;
    padding: 25px 100px;
    border-radius: 4px;
}
.benefits__icon:focus,
.benefits__icon:hover{
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    background-color: var(--color-icon);
    border-radius: 4px;  
    cursor: pointer;  
}
.benefits__title{
    color: var(--title-text-color);    
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    margin-top: 0px;
    margin-bottom: 0px;

}
.benefits__text{
    color: var(--primary-text-color);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;   
    letter-spacing: 0.03em;

    margin-top: 0px;
    margin-bottom: 0;

    padding-top: 10px;
    padding-bottom: 0px;
}



                /* home */

.home {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    margin-bottom: 94px;
}

.home__title {
    color: var(--title-text-color);
    width: 1200px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: auto;
    margin-right: auto;

    padding-top: 94px;
    padding-bottom: 0px;


    font-weight: 700;
    font-size: 36px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-align: center;
}
  
.home__working {
    display: flex;
    gap: 30px;

    padding-top: 50px;
    padding-bottom: 0px;
}

.home__lable{
    position: absolute;
    width: 370px;
    height: 70px;
    padding: 27px;        
    margin-top: 224px;        
    background: rgba(47, 48, 58, 0.8);
    text-align: center;
        
    font-size: 14px;
    font-weight: 700;
    line-height: 16px;        
    letter-spacing: 0.03em;
    text-transform: uppercase; 
    color: var(--background);
}



   /* Team */
.team{
    background-color: var(--badground-team);
}
.team__title {
    color: var(--title-text-color);
    width: 1200px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: auto;
    margin-right: auto;

    padding-top: 94px;
    padding-bottom: 0px;


    font-weight: 700;
    font-size: 36px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-align: center;
}
.team__list{   
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
    width: 1200px;   
    display: flex;
    gap: 30px;

    padding-top: 50px;
    padding-bottom: 94px;
}

.team__ifo{   
    padding-top: 30px;
    padding-bottom: 30px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    background-color: var(--background);
}

.team__name{
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    text-align: center;

    margin-top: 0px;
    margin-bottom: 0px;     
}

.team__text{
    color: var(--primary-text-color);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.2; 
    letter-spacing: 0.03em;
    text-align: center;

    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 10px;
}

            /* social__link */



.social__link {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    gap: 10px;
    border-radius: 50%;
    fill: var(--background);
    /* background: rgba(184, 177, 177, 0.1); */
}

.social__name {
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    fill: var(--color-seti);
    display: flex;
}

.social__name:focus,
.social__name:hover {
    background-color: var(--accent-color);
    fill: var(--background);
}


/* < !--Client --> */

.client__title {
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16px;
    text-align: center;
    letter-spacing: 0.03em;
    padding-top: 94px;

}

.client__logo {
    display: flex;
    padding-top: 50px;
    padding-bottom: 94px;
    fill: var(--color-seti);
}

.client__icons {
    display: flex;
    gap: 30px;
    width: 170px;
    height: 92px;
    padding: 16px 32px;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    margin-left: 30px;
    cursor: pointer;
}

.client__icons:focus,
.client__icons:hover {
    border: 1px solid #2196F3;
    border-radius: 4px;
    fill: var(--accent-color);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

                /* FOOTER */
.footer{
    background-color: var(--footer-color);
    
}

.foot{
    padding-top: 60px;
    padding-bottom: 60px;
    display: flex;       
 } 

.logo--white{
    color: var(--background);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2px;
}
.address{
    font-style: normal;
}
.adress__sity{
    color: var(--background);
    margin-top: 20px;
    
}
.adress__item{   
    margin-top: 9px;    
}
.address__contact{
    color: var(--color-address);  
    text-decoration: none;  
          
}

/* приєднуйтесь */
.join{
    display: flex;   
    flex-direction: column;
    margin-left: 70px;
    
}
.join__title {
    text-transform: uppercase;
    text-align: center;
    color: var(--background);
    margin-bottom: 20px;
    margin-right: 70px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14px;
    letter-spacing: 0.03em;
}
.join__list{
    display: flex;   
    justify-content: center;
    gap: 10px;
    padding-left: 0;
    padding-right: 0;
    margin-top: 20px;
}
.join__link {
    display: flex;
    background-position: center;
    content: "";

    width: 40px;
    height: 40px;

    border-radius: 50%;
    padding: 12px 12px;
    fill: var(--background);
    background-color:rgba(255, 255, 255, 0.1);
}

.join__link:focus,
.join__link:hover{
    background-color: var(--accent-color);
    fill:  var(--background);
}

/* підпишись */
.subscription{   
    margin-left: 93px;
    width: 570px;
    height: 86px;
} 
.subscription__title {
    margin-top: 0;
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--background);
}
.subscription__form{
    display: flex;
}
.subscription__input {
    margin: 0;
    margin-right: 12px;
    padding: 15px;
    width: 358px;
    height: 50px;
    border: 1px solid var(--color-border-input);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background: var(--footer-color);
    color: var(--background);
}

.subscription__button { 
    cursor: pointer;
    width: 200px;
    height: 50px;
    background: var(--accent);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: transparent;
    color: var(--background);
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    background-color: var(--accent-color);
    display: flex;
    align-items: center;
    justify-content: center;
}
.subscription__icon {
    margin-left: 10px;
    fill: var(--background);
}



            /* Modal  */
.backdrop{
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;    
    background: var(--color-backdrop);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden{
    opacity: 0;
    pointer-events: none;
}

.modal{
    position: absolute;
    
    width: 100%;
    /* height: 100%; */
    max-width: 528px;
    /* max-height: 581px; */
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    
    background: var(--background);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}
.modal__close{
    cursor: pointer;
    position: absolute;
    display: flex;   
    height: 30px;
    top: 8px;
    right: 8px;
    width: 30px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 6px;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__close:focus,
.modal__close:hover{   
   fill: var(--accent-color);
}
.modal-text{
    font-weight: 700;
    line-height: 23px;
    font-size: 20px;
    letter-spacing: 1.15px;
    text-align: center;
    color: var(--title-text-color);margin-top: 40px;
}

/* form */

.form {
    padding: 40px;
}

.form__title {
    margin-bottom: 12px;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--color-title);
}

.form__position {
    /* position: relative; */
    display: flex;
    flex-direction: column;
    width: 448px;
    height: 58px;
    margin-bottom: 10px;
}

.form__lable{
    margin-bottom: 4px;
}


.form__box {
    position: relative;
    margin-top: 4px;
}

.form__input {
    /* position: relative; */
    display: inline-block;
    height: 40px;
    width: 448px;
    padding: 0px;
    padding-left: 40px;
    margin: 0;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
}

.form__input:focus,
.form__input:hover{
    border-color: var(--accent-color);  
}

.form__input:focus + .form__icon,
.form__input:hover + .form__icon {
    fill: var(--accent-color);
    border-color: var(--accent-color);
} 


.form__icon {
    position: absolute;
    margin-top: 15px;
    top: -2px;
    left: 12px;
}
.form__icon:focus,
.form__icon:hover{
    border: var(--accent-color);
}




/* textarea */
.textarea{
    resize: none;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.textarea__lable{   
    margin-bottom: 4px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: var(--primary-text-color);
}

.textarea__placeholder {
    margin-bottom: 20px;
    width: 448px;
    height: 120px;
    padding: 12px 16px;
    resize: none;
}



/* checkbox */



.checkbox {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;   
}

.checkbox__input{
    margin: -3px 7px 0px 0px;
    fill: var(--accent-color);
    width: 16px;
    height: 15px;
}


.checkbox__link {
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: var(--accent-color);
}

.checkbox__lable {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
}

/* submit */
.submit__modal {
    width: 250px;
    height: 50px;
    padding: 10px 52px;
    font-family: inherit;
    text-align: center;
    margin-left: 82px;
    margin-right: 82px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;  
    letter-spacing: 0.06em;
    color: var(--background);
    background: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: transparent;
}

.submit__modal:focus,
.submit__modal:hover{
        background:var(--button-active);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border-radius: 4px;
}




/* PORTFOLIO */      


/* < !-- Навігація по сайту --> */
.filtres{
    padding-top: 94px;
    padding-bottom: 34px;   
   }

.filtres__project{
    display: flex;    
    padding-top: 0px;
    padding-bottom: 0px;
    justify-content: center
}

.filtres__item:not(:last-child){
 margin-right: 8px;
}

.filtres__button{
    text-align: center;
}




                    /* project */



.project{
    padding-top: 0px;
    padding-bottom: 94px;
}

.project__list{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    
}



.project__overlay{
    position: relative;
    overflow: hidden;
    
}


.project__description{
    position: absolute;
    left: 0;
    padding: 63px 24px;
    width: 100%;
    height: 100%;
    transform: translateY(100%);
    /* transition: transform 2000ms;     */
    text-align: left;
    opacity: 1;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.55;
    letter-spacing: 0.03em;
    color: var(--white);     
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    top: 0;
    
}

.project__item:hover .project__description{
    transform: translateY(0);
    background-color:rgba(33, 150, 243, 0.9);
    color: var(--background);
}

.project__name{
    
    background:var(--background);   
    padding: 24px 20px;
    border-bottom: 1px solid var(--border);       
}

.project__name:focus,
.project__name:hover{
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
        0px 4px 4px rgba(0, 0, 0, 0.06),
        1px 4px 6px rgba(0, 0, 0, 0.16);
}
.project__title{
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    margin-top: 20px;
    margin-bottom: 0px;    
}

.project__text{
    color: var(--primary-text-color);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.03em;
    margin-top: 4px;
    margin-bottom: 0px;   
}

 







.visually__hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}


