/*  Header  */

.header.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    width: 1200px;
}

.header {
    align-items: center;
    justify-content: space-between;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-right: 15px;
    border-bottom: 1px solid #ECECEC;
}

    .&__list {
        display: flex;
        margin-top: 0px;
        margin-bottom: 0px;
        margin-left: auto;
        align-items: normal;
        justify-items: flex-end;
    }


// .container {
//     margin-left: auto;
//     margin-right: auto;
//     text-decoration: none;
//     padding-left: 15px;
//     padding-right: 15px;
//     width: 1200px;
// }

    .&__logotip {
        display: flex;
        align-items: center;
        color: var(--accent-color);
        margin-bottom: 0px;
        margin-top: 0px;
        padding-top: 0px;
        padding-bottom: 0px;

   

        .&__logo {
            color: var(--color-logotip);
            font-weight: 700;
            font-size: 26px;
            font-family: Raleway, sans-serif;
            line-height: 1.19;
            text-decoration: none;
            text-align: center;
            letter-spacing: 0.03em;
            margin-right: 93px;
        }
 
        .&__span {
            color: var(--accent-color);

        }
}
/* Icon heder */

.item__icon {
    fill: var(--primary-text-color);
    margin-right: 10px;
    display: inline-flex;
    content: "";
    width: 16px;
    height: 12px;
    padding: 0px;
    background-position: cover;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


/* Site Nav */

.header__nav {
    display: flex;
    align-items: center;
    transition: transform 250ms cubic-bezier(0.4, 0.0, 0.2, 1.0);
}

.&__nav-list {
    display: block;
}

.header__item:not(:last-child) {
    margin-right: 50px;
}

.header__link:hover,
.header__link:focus,
.item__icon:focus,
.item__icon:hover {
    color: var(--accent-color);
}

.header__link {
    display: block;
    color: var(--title-text-color);
    padding-top: 32px;
    padding-bottom: 32px;
}

.header__contact {
    display: flex;
    margin-left: auto;
    align-items: center;
}

.item__contact:not(:last-child) {
    margin-right: 50px;
}

.header__contact .link {
    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;

}

.header__contact .link:hover,
.header__contact .link:focus {
    color: var(--accent-color);
}

.link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.link.current {
    position: relative;
    color: var(--accent-color);
}

.link.current::after {
    display: inline-block;
    content: "";
    position: absolute;
    display: flex;
    bottom: 0;
    left: 0;

    width: 100%;
    height: 4px;

    background-color: var(--accent-color);
    border-radius: 2px;
}