/* приєднуйтесь */
.join {
    display: flex;
    flex-direction: column;
    margin-left: 70px;


    
    &__title {
        text-transform: uppercase;
        text-align: center;
        color: $background;
        margin-bottom: 20px;
        margin-right: 70px;
        font-weight: 700;
        font-size: 14px;
        line-height: 1.14px;
        letter-spacing: 0.03em;
    }

    &__list {
        display: flex;
        justify-content: center;
        gap: 10px;
        padding-left: 0;
        padding-right: 0;
        margin-top: 20px;
    }

    &__link {
        display: flex;
        background-position: center;
        content: "";

        width: 40px;
        height: 40px;

        border-radius: 50%;
        padding: 12px 12px;
        fill: $background;
        background-color: rgba(255, 255, 255, 0.1);
    }

    &__link:focus,
    &__link:hover {
        background-color: $accent-color;
        fill: $background;
    }   
}
