.logo {
    color: $accent-color;
    font-weight: 700;
    font-size: 26px;
    font-family: Raleway, sans-serif;
    line-height: 1.19;
    text-decoration: none;
    text-align: center;
    letter-spacing: 0.03em;
    margin-right: 93px;
}

.logo--black {
    color: $color-logotip;
    font-weight: 700;
    font-size: 26px;
    font-family: Raleway, sans-serif;
    line-height: 1.19;
    text-decoration: none;
    text-align: center;
    letter-spacing: 0.03em;
}