  /* Team */
  .team {
      background-color: $badground-team;

      
  &__title {
      color: $title-text-color;
      width: 1200px;
      margin-top: 0px;
      margin-bottom: 0px;
      margin-left: auto;
      margin-right: auto;

      padding-top: 94px;
      padding-bottom: 0px;


      font-weight: 700;
      font-size: 36px;
      line-height: 1.14;
      letter-spacing: 0.03em;
      text-transform: uppercase;
      text-align: center;
  }

  &__list {
      margin-top: 0px;
      margin-left: auto;
      margin-right: auto;
      width: 1200px;
      display: flex;
      gap: 30px;

      padding-top: 50px;
      padding-bottom: 94px;
  }

  &__ifo {
      padding-top: 30px;
      padding-bottom: 30px;
      box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
      border-radius: 0px 0px 4px 4px;
      background-color: $background;
  }

  &__name {
      color: $title-text-color;
      font-weight: 500;
      font-size: 16px;
      line-height: 1.2;
      letter-spacing: 0.03em;
      text-align: center;

      margin-top: 0px;
      margin-bottom: 0px;
  }

  &__text {
      color: $primary-text-color;
      font-weight: 400;
      font-size: 16px;
      line-height: 1.2;
      letter-spacing: 0.03em;
      text-align: center;

      margin-top: 0px;
      margin-bottom: 0px;
      padding-top: 10px;
  }
}



.social__link {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    gap: 10px;
    border-radius: 50%;
    fill: $background;
    /* background: rgba(184, 177, 177, 0.1); */

    
}

.social__name {
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    fill: $color-seti;
    display: flex;
    
    &:focus,
    &:hover {
        background-color: $accent-color;
        fill: $background;
    }
}

